body {
	min-width: 340px;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 16px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #283136;	  
  	background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 320px;
	margin: 0 auto;
}

.main-page__title {
	text-align: center;
}

.service {
	border: 1px solid red;
}
.service__controls {
	display: flex;
	justify-content: space-around;
}

.service__switch {
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: white;
	border: 1px solid transparent;
}

.service__switch--gas {
	background-image: url("../img/gas.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.service__switch--electricity {
	background-image: url("../img/electricity.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.service__switch--water {
	background-image: url("../img/water.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.service__name {	
	display: none;
	border: 1px solid green;
}

.service__form {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 20px;
	border: 1px solid blue;
}

.service__form:after {
	content:"текущий";
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 120px;
}

.service__form:before {
	content:"прошлый";
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 215px;
}

.service__text {
	display: inline-block;
	width: 90px;
	margin-left: 10px;

}

.service__indication {
	width: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 16px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #283136;	  
  	background-color: #ffffff;
}

.service__indication--tarif {
	width: 165px;
}

.service__button {
	width: 100%;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 16px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #283136;	  
  	background-color: #ffffff;
}


#radio-water:checked ~ .service .service__switch--water,
#radio-electricity:checked ~ .service .service__switch--electricity,
#radio-gas:checked ~ .service .service__switch--gas {
	border-color: #283136;
}

#radio-water:checked ~ .service .service__name--water,
#radio-electricity:checked ~ .service .service__name--electricity,
#radio-gas:checked ~ .service .service__name--gas {
	display: block;
}
